---
import AnchorButton from '../components/AnchorButton.astro';

import PageContainer from './PageContainer.astro';

const { btnHref, btnText, desc, narrow, title } = Astro.props;
---

<PageContainer narrow={narrow} title={title}>
  {desc && <p class="description">{desc}</p>}
  <div class="table">
    {
      btnHref && (
        <AnchorButton class="add-btn" href={btnHref}>
          {btnText}
        </AnchorButton>
      )
    }
    <slot />
  </div>
</PageContainer>

<style lang="scss">
  @use '../styles/breakpoints.scss' as *;

  .add-btn {
    position: absolute;
    right: 0;
  }

  .table {
    display: grid;
    font-size: var(--fontSizeSmall);
    grid-template-rows: 1fr;
    height: calc(100% - 11rem);
    margin-top: 2rem;
    position: relative;

    @include breakpoint('tablet') {
      font-size: var(--fontSizeNormal);
      margin-top: 3rem;
    }
  }
</style>
