---
import AnchorButton from '../components/AnchorButton.astro';

import PageContainer from './PageContainer.astro';

const { btnHref, btnText, desc, narrow, title } = Astro.props;
---

<PageContainer narrow={narrow} title={title}>
  {btnHref && <AnchorButton class="add-btn" text={btnText} href={btnHref} />}
  {desc && <p class="description">{desc}</p>}
  <div class="table">
    <slot />
  </div>
</PageContainer>

<style>
  .add-btn {
    transform: translateY(-3.2rem);
    position: absolute;
    right: 0;
    margin-right: 3rem;
  }
  .table {
    display: grid;
    grid-template-rows: 1fr;
    height: calc(100% - 11rem);
    margin-top: 4rem;
  }
</style>
