---
import AnchorButton from '../components/AnchorButton.astro';

import PageContainer from './PageContainer.astro';

const { btnHref, btnText, desc, narrow, title } = Astro.props;
---

<PageContainer narrow={narrow} title={title}>
  {btnHref && <AnchorButton class="add-btn" text={btnText} href={btnHref} />}
  {desc && <p class="description">{desc}</p>}
  <div class="table">
    <slot />
  </div>
</PageContainer>

<style lang="scss">
  @use '../styles/breakpoints.scss' as *;

  .add-btn {
    transform: translateY(8.4rem);
    position: absolute;
    right: 0;
    margin-right: 1rem;

    @include breakpoint('tablet') {
      margin-right: 3rem;
      transform: translateY(-3.2rem);
    }
  }

  .table {
    display: grid;
    font-size: var(--fontSizeSmall);
    grid-template-rows: 1fr;
    height: calc(100% - 11rem);
    margin-top: 2rem;

    @include breakpoint('tablet') {
      font-size: var(--fontSizeNormal);
      margin-top: 4rem;
    }
  }
</style>
